body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    /* Ajustado para compatibilidad */
    margin: 0;

}

.container {
    position: relative;
    width: 80vmin;
    height: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Botón de girar */
.container .spinBtn {
    position: absolute;
    width: 18vmin;
    /* Tamaño relativo */
    height: 18vmin;
    /* Tamaño relativo */
    background: white;
    border-radius: 50%;
    z-index: 45;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 900;
    color: #333;
    border: 2px solid rgba(0, 0, 0, 0.50);
    letter-spacing: 0.1rem;
    cursor: pointer;
    user-select: none;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6), 0 6px 20px rgba(0, 0, 0, 0.2);
    /* Centra el botón en el medio de la ruleta */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container .spinBtn::before {
    content: '';
    position: absolute;
    top: -28px;
    width: 20px;
    height: 30px;
    background: #FFF;
    clip-path: polygon(50% 0%, 15% 100%, 85% 100%);
}

/* Ruleta */
.container .wheel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 0 2px #9e9e9e,
        0 0 0 8px #ffffff;
    transition: transform 5s ease-in-out;
    z-index: 10;
}

/* Estilo de los segmentos */
.container .wheel .number {
    position: absolute;
    width: 50%;
    height: 50%;
    background: var(--clr);
    transform-origin: bottom right;
    /*  clip-path: polygon(0 0, 50% 0, 100% 100%, 0 70%); */
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;
    z-index: 40;
}

.container .wheel .number::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* border: 2px solid white; */
    border: 2px solid var(--border-color, white);
    /* Usar variable CSS */
    box-sizing: border-box;
}

/* Estilo del texto dentro de los segmentos */
.container .wheel .number span {
    position: relative;
    transform: rotate(45deg);
    font-size: 2em;
    font-weight: 700;
    color: #fff;
    text-shadow: 3px 5px 2px #333;
}

.container .wheel .number .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12vmin;
    position: relative;
    margin-right: 10%;
    margin-top: 10%;
    transform: rotate(var(--rotation-angle));

    transform: rotate(calc(90deg - (var(--i) * (360 / var(--totalPrizes)))));
}

.container .wheel .number .icon-container .fa-question {
    font-size: 2rem;

}

.container .wheel .number span::after {
    content: '';
    position: absolute;
    font-size: 2.75em;
    font-weight: 500;
    top: 0;
    /* Ajusta según la posición deseada */
    left: 0;
    /* Ajusta según la posición deseada */
}

/* Consultas de medios para pantallas más grandes */
@media (min-width: 600px) {
    .container {
        width: 60vmin;
        height: 60vmin;

    }

    .container .spinBtn {
        width: 13vmin;
        height: 13vmin;
        font-size: 2.5vmin;


    }

    .container .wheel {
        width: 100%;
        height: 100%;
    }

    .container .wheel .number span {
        font-size: 2.2vmin;
    }

    .container .wheel .number .icon-container {
        font-size: 8vmin;
        position: relative;
        margin-right: 11%;
        margin-top: 11%;
        transform: rotate(var(--rotation-angle));
    }
}

@media (min-width: 1024px) {
    .container {
        width: 48vmin;
        height: 48vmin;

    }

    .container .spinBtn {
        width: 11vmin;
        height: 11vmin;
    }

    .container .wheel {
        width: 100%;
        height: 100%;
    }

    .container .wheel .number span {
        font-size: 2vmin;
    }

    :root {
        --rotation-angle: 15deg;
        /* Define el ángulo de rotación aquí */
    }

    .container .wheel .number .icon-container {
        font-size: 8vmin;
        position: relative;
        margin-right: 11%;
        margin-top: 11%;
        transform: rotate(var(--rotation-angle));
        /* Usar la variable para controlar la rotación */
    }
}

@media (min-width:1360px) {
    .container .spinBtn {
        width: 11vmin;
        height: 11vmin;
        border: 3px solid rgba(0, 0, 0, 0.50);
    }
}