$icon_width: 79px;
$icon_height: 79px;
$num_icons: 9;


html,
body {
    height: 100%;
}

body {
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}



.slots {
    width: 3.5*$icon_width;
    height: 3*$icon_height;
    border: 1px solid black;
    display: flex;
    padding: .3 * $icon_height;
    justify-content: space-between;
  
    .reel {
        border: 1px solid black;
        width: $icon_width;
        ;
        height: 3 * $icon_height;
        background-image: url('/images/rool.jpg');
    }
}