@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Gotham-Black';
    src: url('/fonts/Gotham-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Book';
    src: url('/fonts/Gotham-Book.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Medium';
    src: url('/fonts/Gotham-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

/* Define utility classes */
.gothamBlack {
    font-family: 'Gotham-Black', sans-serif;
}

.gothamBook {
    font-family: 'Gotham-Book', sans-serif;
}

.gothamMedium {
    font-family: 'Gotham-Medium', sans-serif;
}