@tailwind base;
@tailwind components;
@tailwind utilities;

/* LOGICA DEL SCROLL */
html,
body {
  --tw-scrollbar-bg: #b61f1f;
  /* Background color of the scrollbar */
  --tw-scrollbar-thumb: #660303;
  /* Thumb color of the scrollbar */
  --tw-scrollbar-thumb-hover: #0569eb;
  /* Hover color of the thumb */
  scrollbar-color: var(--tw-scrollbar-thumb) var(--tw-scrollbar-bg);
  scrollbar-width: thin;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 8px;
  height: 16px;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: var(--tw-scrollbar-thumb);
  border-radius: 8px;
}

html::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:hover {
  background-color: var(--tw-scrollbar-thumb-hover);
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background-color: var(--tw-scrollbar-bg);
}

body {
  /*  background: #2e2e2d; */
  background: linear-gradient(to bottom, #ff0000, #000000);
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Ocupa el 100% del alto de la vista */
  margin: 0;
}

/* logica de animacion bounce */
@keyframes subtle-bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
    /* Ajusta este valor para cambiar la altura del rebote */
  }
}

.animate-subtle-bounce {
  animation: subtle-bounce 1s ease infinite;
  /* Ajusta la duración y el tipo de easing según sea necesario */
}

/* AGREGAR /static/ para produccion */
@font-face {
  font-family: "Gotham Black";
  src: url(/fonts/Gotham-Black.otf) format("opentype");
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "Gotham Medium";
  src: url(/fonts/Gotham-Medium.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Book";
  src: url(/fonts/Gotham-Book.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* MAS FUERTE */
.textGothamBlack {
  font-family: "Gotham Black";
}

/* SEGUNDO MAS FUERTE */
.textGothamMedium {
  font-family: "Gotham Medium";
}

/* TERCERO MAS FUERTE */
.textGothamBook {
  font-family: "Gotham Book";
}