@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
body {
    background-color: #940707; 
  } */

/* styles.css */
body {
    background: radial-gradient(circle, #9943FF, #45001C);
}


@font-face {
    font-family: 'Gotham-Black';
    src: url('/fonts/Gotham-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Book';
    src: url('/fonts/Gotham-Book.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Medium';
    src: url('/fonts/Gotham-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Bison-BoldItallic';
    src: url('/fonts/Bison-BoldItallic.ttf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

/* Define utility classes */
.gothamBlack {
    font-family: 'Gotham-Black', sans-serif;
}

.gothamBook {
    font-family: 'Gotham-Book', sans-serif;
}

.gothamMedium {
    font-family: 'Gotham-Medium', sans-serif;
}

.bisonBoldItallic {
    font-family: 'Bison-BoldItallic', sans-serif;
}

/* ESTILOS DEL TEXTO */
.gradientText {
    background-image: linear-gradient(to bottom, #f6ff00, #ffffff, #f6ff00);
    background-size: 100% 100%;
    /* Asegura que el fondo cubra completamente el texto */
    background-position: 0 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradientBackground {
    background-image: radial-gradient(circle, #F10000, #610000);
    background-size: cover;
    /* Peso de la fuente */
}